<div class="footer out-footer">
            <div class="copyright">
                <p>Copyright © Developed by <a href="" target="_blank">ETSCH</a> <span class="current-year">2024</span></p>
            </div>
        </div>